PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/devmatch?retryWrites=true&w=majority
JWT_SECRET=<string-aleatoria-minimo-64-caracteres>
CLIENT_URL=https://<seu-projeto>.vercel.app
NODE_ENV=production
